<footer class="footer mt-0 p-4 primary md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/inicio" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img src="../../../../assets/img/logo.png" class=" h-6 sm:h-11" alt="Flowbite Logo" /> 
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Empresa distribuidora de productos con la mejor calidad/precio desde el 2018.</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-white dark:text-white">
            <li>
                <a href="/abautus" class="mr-4 hover:underline md:mr-6 ">Sobre nosotros</a>
            </li>
            <!--
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Trabaja con nosotros</a>
            </li>
            -->
            <li>
                <a (click)="moveTo('destacados')" class="cursor-pointer mr-4 hover:underline md:mr-6">Destacados</a>
            </li>
            <li>
                <a href="/contact" class="mr-4 hover:underline md:mr-6">Contácto</a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2018-2024 <a href="#" class="hover:underline">Doña Clara™</a>. Todos los derechos reservados.</span>
    </div>
  </footer>