.primary{
    background-color: #1B335F;
}
.primary-hover:hover{
    background-color: #16294d;
}
.primary-hover2:hover{
    background-color: #1B335F;
    color: white;
}
.primary-text{
    color: #0e1b34;
}
#btn-modal{
    display: none;
}
.container-modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000c2;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
}
.categories{
    width: 75vw;
}
.element{
    pointer-events: none;
}
.contenedor:hover .imagen{
    color: white;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: #1B335F;
    color: white;
    margin-top: 300px;
    text-align: center;
    width: 10em;
}
.sort:hover .menu-vertical{
    display: block;
}
.menu-vertical li{
    padding: 1em 0;
    width: 100%;
}
.menu-vertical li:hover{
    background-color: #16294d;
}
.sort:hover .button{
    background-color: #1B335F;
    color: white;
}

/* Ocultar flechas de incremento y decremento en Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
appearance: none;
margin: 0;
}

/* Ocultar flechas de incremento y decremento en Firefox */
input[type="number"] {
-moz-appearance: textfield;
appearance: textfield;
}

.bg-gray-500 {
    background-color: #6b7280; /* Tailwind CSS gray-500 color */
}


@keyframes slideDown {
    from {
      transform: translateY(-5%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.slide-down {
    animation: slideDown 0.3s forwards;
}

.alert-container{
    position: fixed;
    width: 28vw;
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 100;
    top: 5px;
    left: 0;
    margin-inline: 36%;
  }
  .alert-container1{
    position: fixed;
    width: 30vw;
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 100;
    top: 5px;
    left: 0;
    margin-inline: 36%;
  }
  .alert-container2{
    position: fixed;
    width: 28.5vw;
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 100;
    top: 5px;
    left: 0;
    margin-inline: 36%;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  .cross{
    margin-left: -8px;
  }
  .container-modal2{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000c2;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
}
.container-modal3 {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #000000c2;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
}